<div style="width: 100%;">
  <div style="width: 50%; height: 100px; float: left;">
    <h1 style="margin: 20px;">Welcome to ma<span style='color: #c91a1b'>RSS</span>!</h1><br>
  </div>
  <div style="width: 50%; height: 100px; float: right;">
    <%= button_to "Sign Up", '/signup', method: :get, style: "margin: 30px; float: right; width: 120px", class: "btn btn-outline-warning"%>
  </div>
</div>

<div style="width: 100%;">
    <!-- left div -->
    <div style="width: 50%; height: 100px; float: left;"> 
        <br><img src="assets/marss-light.png" height="415vh" style='border-radius: 15px; margin: auto; margin-top: 2%' class="d-flex justify-content-center"/>
        <br><div id='typewriter' class="d-flex justify-content-center" style="margin: 20px; margin-bottom: 28px;"></div>
    </div>
    <!-- right div -->
    <div style="margin-left: 50%; height: 100px;">
      <div style="padding-top: 20%;">
        <div class="card" style="width: 18rem; margin-bottom: 2%;">
          <%= form_tag '/login', style: "width: 50%; margin-left: 15%;" do %>
            <span style='color: black;'><%= label_tag :username%></span>
            <%= text_field_tag :username %>
            <%= label_tag :password%>
            <%= password_field_tag :password%><br>
            <%= submit_tag "Login", class: "btn btn-primary d-flex justify-content-center", style: "margin: auto; width: 200px; margin-top: 20px;"%>
          <%end%>
        </div>
      </div>
    </div>
</div>

<% if logged_in? %>
    <h1>you shouldn't see this</h1>
<%end%>
